<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="row card-group">
    <div class="col-4"  *ngFor="let program of events">
        <div class="card">
            <img class="card-img-top" src="../assets/{{program.rootId}}.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{program.title}}</h4>
              <p class="card-text">{{program.description}}</p>
              <h5>Cast</h5>
              <li *ngFor="let item of program.cast | slice:0:3;let i = index">{{item.name}}</li>
            </div>
        </div>
    </div>
</div>
